/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

h1, h2, h3 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

section ul {
    margin-left: 20px;
    margin-bottom: 0;
}

section li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Landing Page */
#introduction {
    text-align: center;
}

/* Certificates Page */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 10px;
}

th {
    background-color: #333;
    color: #fff;
}

td {
    border-bottom: 1px solid #ccc;
}

/* Contact Page */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
